
<div class="row">
	<div class="col-sm-6 col-md-4">
	  <div class="card">
	    <div class="thumbnail">
	      <center><img src="/images/cloth 3.jpg" alt="..." class="img-responsive"></center>
	      <div class="caption">
	        <center><h3>Thuumbanil label</h3></center>
	        <div class="container"><p class="description">dsh dsjhfj sdhkfjsjd fjgs fsdgfsgfkgsgds fksd sfdgfksgfks sdf gfkgdf s fgskd  hdsf fds k sdhdsh fkhsfdkhd sjfdhfj h dskhaaaiufe uewueg f agdfgdf sdk fkdsfhdsk dkf  dfsa sda afdh asd dkhd </p></div>
	        <div class="clearfix">
	        	<div class="price pull-left"># 1200 <a href="#" class="btn btn-primary pull-right" role="button">Button</a></div>
	        	
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-sm-6 col-md-4">
	  <div class="card">
	    <div class="thumbnail">
	      <center><img src="/images/cloth 3.jpg" alt="..." class="img-responsive"></center>
	      <div class="caption">
	        <center><h3>Thuumbanil label</h3></center>
	        <div class="container"><p class="description">dsh dsjhfj sdhkfjsjd fjgs fsdgfsgfkgsgds fksd sfdgfksgfks </p></div>
	        <div class="clearfix">
	        	<div class="price pull-left"># 1200 <a href="#" class="btn btn-primary pull-right" role="button">Button</a></div>
	        	
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-sm-6 col-md-4">
	  <div class="card">
	    <div class="thumbnail">
	      <center><img src="/images/cloth 3.jpg" alt="..." class="img-responsive"></center>
	      <div class="caption">
	        <center><h3>Thuumbanil label</h3></center>
	        <div class="container"><p class="description">dsh dsjhfj sdhksh fkhsfdkhd sjfdhfj h dskhaaaiufe uewueg f agdfgdf sdk fkdsfhdsk dkf  dfsa sda afdh asd dkhd </p></div>
	        <div class="clearfix">
	        	<div class="price pull-left"># 1200 <a href="#" class="btn btn-primary pull-right" role="button">Button</a></div>
	        	
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-6 col-md-4">
	  <div class="card">
	    <div class="thumbnail">
	      <center><img src="/images/cloth 3.jpg" alt="..." class="img-responsive"></center>
	      <div class="caption">
	        <center><h3>Thuumbanil label</h3></center>
	        <div class="container"><p class="description">dsh dsjhfj sdhkfjsjd fjgs fsdgfsgfkgsgds fksd sfdgfksgfks sdf gfkgdf s fgskd  hdsf fds k sdhdsh fkhsfdkhd sjfdhfj h dskhaaaiufe uewueg f agdfgdf sdk fkdsfhdsk dkf  dfsa sda afdh asd dkhd </p></div>
	        <div class="clearfix">
	        	<div class="price pull-left"># 1200 <a href="#" class="btn btn-primary pull-right" role="button">Button</a></div>
	        	
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-sm-6 col-md-4">
	  <div class="card">
	    <div class="thumbnail">
	      <center><img src="/images/cloth 3.jpg" alt="..." class="img-responsive"></center>
	      <div class="caption">
	        <center><h3>Thuumbanil label</h3></center>
	        <div class="container"><p class="description">dsh dsjhfj sdhkfjsjd fjgs fsdgfsgfkgsgds fksd sfdgfksgfks sdf gfkgdf s fgskd  hdsf fds k sdhdsh fkhsfdkhd sjfdhfj h dskhaaaiufe uewueg f  </p></div>
	        <div class="clearfix">
	        	<div class="price pull-left"># 1200 <a href="#" class="btn btn-primary pull-right" role="button">Button</a></div>
	        	
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-sm-6 col-md-4">
	  <div class="card">
	    <div class="thumbnail">
	      <center><img src="/images/cloth 3.jpg" alt="..." class="img-responsive"></center>
	      <div class="caption">
	        <center><h3>Thuumbanil label</h3></center>
	        <div class="container"><p class="description">dsh dsjhfj sdhkfjsjd fjgs fsdsf fds k sdhdsh fkhsfdkhd sjfdhfj h dskhaaaiufe uewueg f agdfgdf sdk fkdsfhdsk dkf  dfsa sda afdh asd dkhd </p></div>
	        <div class="clearfix">
	        	<div class="price pull-left"># 1200 <a href="#" class="btn btn-primary pull-right" role="button">Button</a></div>
	        	
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<br>

