
<div class="row">
	<div class="col-sm-6 col-md-4">
	  <div class="card">
	    <div class="thumbnail">
	      <center><img src="/images/cloth 3.jpg" alt="..." class="img-responsive"></center>
	      <div class="caption">
	        <center><h3>Thuumbanil label</h3></center>
	        <div class="container"><p>dsh dsjhfj sdhkfjsjd fjgs fsdgfsgfkgsgds fksd sfdgfksgfks sdf gfkgdf s fgskd  hdsf fds k sdhdsh fkhsfdkhd sjfdhfj h dskhaaaiufe uewueg f agdfgdf sdk fkdsfhdsk dkf  dfsa sda afdh asd dkhd </p></div>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a><a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-sm-6 col-md-4">
	  <div class="card">
	    <div class="thumbnail">
	      <center><img src="/images/shoe 2.png" alt="..." class="img-responsive"></center>
	      <div class="caption">
	        <h3>Thuumbanil label</h3>
	        <p>....</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a><a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-sm-6 col-md-4">
	  <div class="card">
	    <div class="thumbnail">
	      <center><img src="/images/images (2).jpg" alt="..." class="img-responsive"></center>
	      <div class="caption">
	        <h3>Thuumbanil label</h3>
	        <p>....</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a><a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
	</div>
</div>
